* {
  font-family: "Space Mono" !important;
}
.App {
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.334);
  min-height: 100vh;
  color: rgb(0, 0, 0);
}

.main-content {
  padding-top: 64px;
  justify-content: center;
  display: flex;
}
.closeButtons {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  gap: 8px;
}
