.bet-slip {
  border: 1px solid black;
  margin: 10px;
}

.homepage.links {
  display: flex;
}

.nav-link {
  margin-right: 10px;
}
.nav-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}
