.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
}

.col-12 {
  flex: 1;
}
.match-card {
  transition: background-color 0.3s, transform 0.3s;
  border: solid black 1px;
  margin: 5px;
}

.match-card:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
